# Replace <username>&<db_password> with your actual mongodb Atlas username and password
MONGODB_URI=mongodb+srv://<username>:<db_password>@blogger.gghdukq.mongodb.net/nodoubt-app

# REST API port (default: 5000)
PORT=5000

# WebSocket server port (default: 8080)
WS_PORT=8080
